* {
    box-sizing: border-box;
}

body {
    background: rgb(57, 216, 244);
    margin: 0;
    padding-top: 60px; /* Высота фиксированной навигации */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color:#08b0bc;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.calculator {
    max-width: 320px;
    background: #eee;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.calc-numbers {
    font-family: serif;
    background: white;
    color: black;
    font-size: 2em;
    border: 0;
    padding: 0.3em;
    text-align: right;
    width: 100%;
    height: 100px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.span-2 {
    grid-column: span 2;
}

.span-3 {
    grid-column: span 3;
}

.btn {
    font-size: 1em;
    height: 65px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background: #b2f2f6;
}

.red {
    background-color: red;
    color: white;
}
